@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span,
a,
li,
input {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
label,
button,
.brand {
  font-family: "Poppins", sans-serif;
}

/* background icon for search input */
.bg-search {
  background-image: url("./assets/search-icon.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 16px center;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue;
}

/* file upload button */
::-webkit-file-upload-button {
  @apply bg-blue text-white rounded-md p-4 border-blue shadow-none outline-none;
}
